/* PHASE 3: Layout */
.content {
  width: 900px;
  min-height: 200px;
  background-color: white;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.content-sidebar {
  width: 200px;
  min-height: 200px;
  border-right: 1px solid black;
  background-color: white;
  padding: 20px;
}

.content-main {
  width: 700px;
  min-height: 200px;
  background-color: white;
  padding: 20px;
}