/* PHASE 7: Online */
.profile-picture {
  overflow: hidden;
}

.online {
  position: absolute;
  z-index: 1;
  background-color: green;
  padding: 5px 20px;
  transform: rotate(-0.15turn) translateX(-30px);
  color: white;
  letter-spacing: 2px;
  width: 50px;
}

