<h2>Sign Up</h2>

<form action="<%= users_url %>" method="Post">
  <input type="hidden" name="authencity_token" value="<%= form_authenticity_token %>">

  <label>
    username 
    <input type="text" name="user[username]">
  </label>

  <label>
    password
    <input type="text" name="user[password]">
  </label>
  
  <input type="submit" value="Sign Up">
</form>

